
!!!
%html{:"ng-app" => 'Gallo', "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tag

    %meta{:property => "og:image", :content => "#{request.protocol}#{request.host_with_port}#{request.fullpath}crests/new_test.png"}/

    / FB meta
    %meta{:property => "og:url", :content => "http://test"}/
    %meta{:property => "og:title", :content => "Gallo"}/
    %meta{:property => "og:caption", :content => "Gallo"}/
    %meta{:property => "og:description", :content => "Gallo"}/
    %meta{:property => "og:determiner", :content => "auto"}/
    / Twitter
    %meta{:name => "twitter:card", :content => "summary"}/
    %meta{:name => "twitter:url", :content => "http://test.com"}/
    %meta{:name => "twitter:title", :content => "Gallo"}/
    %meta{:name => "twitter:image", :content => "#{request.protocol}#{request.host_with_port}#{request.fullpath}crests/new_test.png"}/

    = yield(:head)

  %body{:id => "#{params[:controller].parameterize}_controller"}
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = content_tag :h1, yield(:title) if show_title?

      = yield

    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-sanitize.min.js"}

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js", :async => true
    = javascript_include_tag "application"
